body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    font-size: 64px;
}

footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
}

#sudoku {
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    width: fit-content;
}

.box {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    border: 2px black solid;
}

.cell {
    border: 1px darkslategray solid;
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
    font-size: 36px;
    align-content: center;
    text-align: center;
}

.given {
    background-color: gray;
}

#result {
    border: 1px solid black;
    display: none;
    width: min-content;
    padding: 10px 20px;
    margin: 20px auto;
    color: white;
}

#result.correct {
    background-color: green;
}

#result.incorrect {
    background-color: red;
}